.elementor-6578 .elementor-element.elementor-element-0d40b91 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --align-items: flex-start;
    --gap: 10px 10px;
    --background-transition: 0.3s;
    border-style: solid;
    --border-style: solid;
    border-width: 0px 0px 1px 0px;
    --border-block-start-width: 0px;
    --border-inline-end-width: 0px;
    --border-block-end-width: 1px;
    --border-inline-start-width: 0px;
}

.elementor-6578 .elementor-element.elementor-element-0d40b91:not(.elementor-motion-effects-element-type-background),
.elementor-6578 .elementor-element.elementor-element-0d40b91>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-6578 .elementor-element.elementor-element-0d40b91,
.elementor-6578 .elementor-element.elementor-element-0d40b91::before {
    --border-transition: 0.3s;
}

.elementor-6578 .elementor-element.elementor-element-a37bcab {
    --display: flex;
    --justify-content: center;
    --align-items: flex-start;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --gap: 8px 8px;
    --background-transition: 0.3s;
    border-style: dashed;
    --border-style: dashed;
    border-width: 0px 1px 0px 0px;
    --border-block-start-width: 0px;
    --border-inline-end-width: 1px;
    --border-block-end-width: 0px;
    --border-inline-start-width: 0px;
}

.elementor-6578 .elementor-element.elementor-element-a37bcab,
.elementor-6578 .elementor-element.elementor-element-a37bcab::before {
    --border-transition: 0.3s;
}

.elementor-6578 .elementor-element.elementor-element-534573d {
    text-align: left;
}

.elementor-6578 .elementor-element.elementor-element-534573d .elementor-heading-title {
    font-size: 16px;
    font-weight: 500;
}

.elementor-6578 .elementor-element.elementor-element-534573d:hover .elementor-widget-container {
    border-style: none;
}

.elementor-6578 .elementor-element.elementor-element-9e55c1b .elementor-heading-title {
    color: #8B8B8B;
    font-size: 16px;
    font-weight: 300;
}

.elementor-6578 .elementor-element.elementor-element-9e55c1b:hover .elementor-widget-container {
    border-style: none;
}

.elementor-6578 .elementor-element.elementor-element-7b43bd1 .elementor-heading-title {
    color: #8B8B8B;
    font-size: 16px;
    font-weight: 300;
}

.elementor-6578 .elementor-element.elementor-element-7b43bd1:hover .elementor-widget-container {
    border-style: none;
}

.elementor-6578 .elementor-element.elementor-element-1b44bee .elementor-heading-title {
    color: #8B8B8B;
    font-size: 16px;
    font-weight: 300;
}

.elementor-6578 .elementor-element.elementor-element-1b44bee:hover .elementor-widget-container {
    border-style: none;
}

.elementor-6578 .elementor-element.elementor-element-e85fa35 .elementor-heading-title {
    color: #8B8B8B;
    font-size: 16px;
    font-weight: 300;
}

.elementor-6578 .elementor-element.elementor-element-e85fa35:hover .elementor-widget-container {
    border-style: none;
}

.elementor-6578 .elementor-element.elementor-element-4a46f0c .elementor-heading-title {
    color: #8B8B8B;
    font-size: 16px;
    font-weight: 300;
}

.elementor-6578 .elementor-element.elementor-element-4a46f0c:hover .elementor-widget-container {
    border-style: none;
}

.elementor-6578 .elementor-element.elementor-element-4d8f55c {
    --display: flex;
    --align-items: flex-start;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --gap: 8px 8px;
    --background-transition: 0.3s;
    border-style: dashed;
    --border-style: dashed;
    border-width: 0px 1px 0px 0px;
    --border-block-start-width: 0px;
    --border-inline-end-width: 1px;
    --border-block-end-width: 0px;
    --border-inline-start-width: 0px;
}

.elementor-6578 .elementor-element.elementor-element-4d8f55c,
.elementor-6578 .elementor-element.elementor-element-4d8f55c::before {
    --border-transition: 0.3s;
}

.elementor-6578 .elementor-element.elementor-element-eeac321 {
    text-align: left;
}

.elementor-6578 .elementor-element.elementor-element-eeac321 .elementor-heading-title {
    font-size: 16px;
    font-weight: 500;
}

.elementor-6578 .elementor-element.elementor-element-eeac321:hover .elementor-widget-container {
    border-style: none;
}

.elementor-6578 .elementor-element.elementor-element-3bc1c5f .elementor-heading-title {
    color: #8B8B8B;
    font-size: 16px;
    font-weight: 300;
}

.elementor-6578 .elementor-element.elementor-element-3bc1c5f:hover .elementor-widget-container {
    border-style: none;
}

.elementor-6578 .elementor-element.elementor-element-d2eb10c .elementor-heading-title {
    color: #8B8B8B;
    font-size: 16px;
    font-weight: 300;
}

.elementor-6578 .elementor-element.elementor-element-d2eb10c:hover .elementor-widget-container {
    border-style: none;
}

.elementor-6578 .elementor-element.elementor-element-cc9e9a4 .elementor-heading-title {
    color: #8B8B8B;
    font-size: 16px;
    font-weight: 300;
}

.elementor-6578 .elementor-element.elementor-element-cc9e9a4:hover .elementor-widget-container {
    border-style: none;
}

.elementor-6578 .elementor-element.elementor-element-a42ea37 .elementor-heading-title {
    color: #8B8B8B;
    font-size: 16px;
    font-weight: 300;
}

.elementor-6578 .elementor-element.elementor-element-a42ea37:hover .elementor-widget-container {
    border-style: none;
}

.elementor-6578 .elementor-element.elementor-element-b69157b .elementor-heading-title {
    color: #8B8B8B;
    font-size: 16px;
    font-weight: 300;
}

.elementor-6578 .elementor-element.elementor-element-b69157b:hover .elementor-widget-container {
    border-style: none;
}

.elementor-6578 .elementor-element.elementor-element-e579ffe {
    --display: flex;
    --align-items: flex-start;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --gap: 8px 8px;
    --background-transition: 0.3s;
    border-style: dashed;
    --border-style: dashed;
    border-width: 0px 1px 0px 0px;
    --border-block-start-width: 0px;
    --border-inline-end-width: 1px;
    --border-block-end-width: 0px;
    --border-inline-start-width: 0px;
}

.elementor-6578 .elementor-element.elementor-element-e579ffe,
.elementor-6578 .elementor-element.elementor-element-e579ffe::before {
    --border-transition: 0.3s;
}

.elementor-6578 .elementor-element.elementor-element-133a2db {
    text-align: left;
}

.elementor-6578 .elementor-element.elementor-element-133a2db .elementor-heading-title {
    font-size: 16px;
    font-weight: 500;
}

.elementor-6578 .elementor-element.elementor-element-133a2db:hover .elementor-widget-container {
    border-style: none;
}

.elementor-6578 .elementor-element.elementor-element-d9fd905 .elementor-heading-title {
    color: #8B8B8B;
    font-size: 16px;
    font-weight: 300;
}

.elementor-6578 .elementor-element.elementor-element-d9fd905:hover .elementor-widget-container {
    border-style: none;
}

.elementor-6578 .elementor-element.elementor-element-dc7a8a2 .elementor-heading-title {
    color: #8B8B8B;
    font-size: 16px;
    font-weight: 300;
}

.elementor-6578 .elementor-element.elementor-element-dc7a8a2:hover .elementor-widget-container {
    border-style: none;
}

.elementor-6578 .elementor-element.elementor-element-eb3dc3d .elementor-heading-title {
    color: #8B8B8B;
    font-size: 16px;
    font-weight: 300;
}

.elementor-6578 .elementor-element.elementor-element-eb3dc3d:hover .elementor-widget-container {
    border-style: none;
}

.elementor-6578 .elementor-element.elementor-element-f0fcb98 .elementor-heading-title {
    color: #8B8B8B;
    font-size: 16px;
    font-weight: 300;
}

.elementor-6578 .elementor-element.elementor-element-f0fcb98:hover .elementor-widget-container {
    border-style: none;
}

.elementor-6578 .elementor-element.elementor-element-ca5bf3a .elementor-heading-title {
    color: #8B8B8B;
    font-size: 16px;
    font-weight: 300;
}

.elementor-6578 .elementor-element.elementor-element-ca5bf3a:hover .elementor-widget-container {
    border-style: none;
}

.elementor-6578 .elementor-element.elementor-element-792db81 {
    --display: flex;
    --align-items: flex-start;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --gap: 8px 8px;
    --background-transition: 0.3s;
    border-style: dashed;
    --border-style: dashed;
    border-width: 0px 1px 0px 0px;
    --border-block-start-width: 0px;
    --border-inline-end-width: 1px;
    --border-block-end-width: 0px;
    --border-inline-start-width: 0px;
}

.elementor-6578 .elementor-element.elementor-element-792db81,
.elementor-6578 .elementor-element.elementor-element-792db81::before {
    --border-transition: 0.3s;
}

.elementor-6578 .elementor-element.elementor-element-751b883 {
    text-align: left;
}

.elementor-6578 .elementor-element.elementor-element-751b883 .elementor-heading-title {
    font-size: 16px;
    font-weight: 500;
}

.elementor-6578 .elementor-element.elementor-element-751b883:hover .elementor-widget-container {
    border-style: none;
}

.elementor-6578 .elementor-element.elementor-element-343df07 .elementor-heading-title {
    color: #8B8B8B;
    font-size: 16px;
    font-weight: 300;
}

.elementor-6578 .elementor-element.elementor-element-343df07:hover .elementor-widget-container {
    border-style: none;
}

.elementor-6578 .elementor-element.elementor-element-0b7ace9 .elementor-heading-title {
    color: #8B8B8B;
    font-size: 16px;
    font-weight: 300;
}

.elementor-6578 .elementor-element.elementor-element-0b7ace9:hover .elementor-widget-container {
    border-style: none;
}

.elementor-6578 .elementor-element.elementor-element-c11ab9f .elementor-heading-title {
    color: #8B8B8B;
    font-size: 16px;
    font-weight: 300;
}

.elementor-6578 .elementor-element.elementor-element-c11ab9f:hover .elementor-widget-container {
    border-style: none;
}

.elementor-6578 .elementor-element.elementor-element-116711b .elementor-heading-title {
    color: #8B8B8B;
    font-size: 16px;
    font-weight: 300;
}

.elementor-6578 .elementor-element.elementor-element-116711b:hover .elementor-widget-container {
    border-style: none;
}

.elementor-6578 .elementor-element.elementor-element-410e252 .elementor-heading-title {
    color: #8B8B8B;
    font-size: 16px;
    font-weight: 300;
}

.elementor-6578 .elementor-element.elementor-element-410e252:hover .elementor-widget-container {
    border-style: none;
}

.elementor-6578 .elementor-element.elementor-element-31dc416 {
    --display: flex;
    --align-items: flex-start;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --gap: 8px 8px;
    --background-transition: 0.3s;
    border-style: dashed;
    --border-style: dashed;
    border-width: 0px 0px 0px 0px;
    --border-block-start-width: 0px;
    --border-inline-end-width: 0px;
    --border-block-end-width: 0px;
    --border-inline-start-width: 0px;
}

.elementor-6578 .elementor-element.elementor-element-31dc416,
.elementor-6578 .elementor-element.elementor-element-31dc416::before {
    --border-transition: 0.3s;
}

.elementor-6578 .elementor-element.elementor-element-299c16b {
    text-align: left;
}

.elementor-6578 .elementor-element.elementor-element-299c16b .elementor-heading-title {
    font-size: 16px;
    font-weight: 500;
}

.elementor-6578 .elementor-element.elementor-element-299c16b:hover .elementor-widget-container {
    border-style: none;
}

.elementor-6578 .elementor-element.elementor-element-c73e9bb .elementor-heading-title {
    color: #8B8B8B;
    font-size: 16px;
    font-weight: 300;
}

.elementor-6578 .elementor-element.elementor-element-c73e9bb:hover .elementor-widget-container {
    border-style: none;
}

.elementor-6578 .elementor-element.elementor-element-41f3f95 .elementor-heading-title {
    color: #8B8B8B;
    font-size: 16px;
    font-weight: 300;
}

.elementor-6578 .elementor-element.elementor-element-41f3f95:hover .elementor-widget-container {
    border-style: none;
}

.elementor-6578 .elementor-element.elementor-element-b405386 .elementor-heading-title {
    color: #8B8B8B;
    font-size: 16px;
    font-weight: 300;
}

.elementor-6578 .elementor-element.elementor-element-b405386:hover .elementor-widget-container {
    border-style: none;
}

.elementor-6578 .elementor-element.elementor-element-4d617d7 .elementor-heading-title {
    color: #8B8B8B;
    font-size: 16px;
    font-weight: 300;
}

.elementor-6578 .elementor-element.elementor-element-4d617d7:hover .elementor-widget-container {
    border-style: none;
}

.elementor-6578 .elementor-element.elementor-element-fc5d640 .elementor-heading-title {
    color: #8B8B8B;
    font-size: 16px;
    font-weight: 300;
}

.elementor-6578 .elementor-element.elementor-element-fc5d640:hover .elementor-widget-container {
    border-style: none;
}

.elementor-6578 .elementor-element.elementor-element-73244b5 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px 0px;
    --background-transition: 0.3s;
}

.elementor-6578 .elementor-element.elementor-element-1d4f084 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-6578 .elementor-element.elementor-element-29ef4e2 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-6578 .elementor-element.elementor-element-46ea3b7 {
    text-align: right;
}

@media(min-width:768px) {
    .elementor-6578 .elementor-element.elementor-element-1d4f084 {
        --width: 50%;
    }

    .elementor-6578 .elementor-element.elementor-element-29ef4e2 {
        --width: 50%;
    }
}

@media(max-width:1024px) {
    .elementor-6578 .elementor-element.elementor-element-0d40b91 {
        --align-items: flex-start;
        --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    }
}

@media(max-width:767px) {
    .elementor-6578 .elementor-element.elementor-element-a37bcab {
        border-width: 0px 0px 0px 0px;
        --border-block-start-width: 0px;
        --border-inline-end-width: 0px;
        --border-block-end-width: 0px;
        --border-inline-start-width: 0px;
    }

    .elementor-6578 .elementor-element.elementor-element-9e55c1b .elementor-heading-title {
        font-size: 16px;
    }

    .elementor-6578 .elementor-element.elementor-element-7b43bd1 .elementor-heading-title {
        font-size: 16px;
    }

    .elementor-6578 .elementor-element.elementor-element-1b44bee .elementor-heading-title {
        font-size: 16px;
    }

    .elementor-6578 .elementor-element.elementor-element-e85fa35 .elementor-heading-title {
        font-size: 16px;
    }

    .elementor-6578 .elementor-element.elementor-element-4a46f0c .elementor-heading-title {
        font-size: 16px;
    }

    .elementor-6578 .elementor-element.elementor-element-4d8f55c {
        border-width: 0px 0px 0px 0px;
        --border-block-start-width: 0px;
        --border-inline-end-width: 0px;
        --border-block-end-width: 0px;
        --border-inline-start-width: 0px;
    }

    .elementor-6578 .elementor-element.elementor-element-3bc1c5f .elementor-heading-title {
        font-size: 16px;
    }

    .elementor-6578 .elementor-element.elementor-element-d2eb10c .elementor-heading-title {
        font-size: 16px;
    }

    .elementor-6578 .elementor-element.elementor-element-cc9e9a4 .elementor-heading-title {
        font-size: 16px;
    }

    .elementor-6578 .elementor-element.elementor-element-a42ea37 .elementor-heading-title {
        font-size: 16px;
    }

    .elementor-6578 .elementor-element.elementor-element-b69157b .elementor-heading-title {
        font-size: 16px;
    }

    .elementor-6578 .elementor-element.elementor-element-e579ffe {
        border-width: 0px 0px 0px 0px;
        --border-block-start-width: 0px;
        --border-inline-end-width: 0px;
        --border-block-end-width: 0px;
        --border-inline-start-width: 0px;
    }

    .elementor-6578 .elementor-element.elementor-element-d9fd905 .elementor-heading-title {
        font-size: 16px;
    }

    .elementor-6578 .elementor-element.elementor-element-dc7a8a2 .elementor-heading-title {
        font-size: 16px;
    }

    .elementor-6578 .elementor-element.elementor-element-eb3dc3d .elementor-heading-title {
        font-size: 16px;
    }

    .elementor-6578 .elementor-element.elementor-element-f0fcb98 .elementor-heading-title {
        font-size: 16px;
    }

    .elementor-6578 .elementor-element.elementor-element-ca5bf3a .elementor-heading-title {
        font-size: 16px;
    }

    .elementor-6578 .elementor-element.elementor-element-792db81 {
        border-width: 00px 00px 00px 00px;
        --border-block-start-width: 00px;
        --border-inline-end-width: 00px;
        --border-block-end-width: 00px;
        --border-inline-start-width: 00px;
    }

    .elementor-6578 .elementor-element.elementor-element-343df07 .elementor-heading-title {
        font-size: 16px;
    }

    .elementor-6578 .elementor-element.elementor-element-0b7ace9 .elementor-heading-title {
        font-size: 16px;
    }

    .elementor-6578 .elementor-element.elementor-element-c11ab9f .elementor-heading-title {
        font-size: 16px;
    }

    .elementor-6578 .elementor-element.elementor-element-116711b .elementor-heading-title {
        font-size: 16px;
    }

    .elementor-6578 .elementor-element.elementor-element-410e252 .elementor-heading-title {
        font-size: 16px;
    }

    .elementor-6578 .elementor-element.elementor-element-31dc416 {
        border-width: 0px 0px 0px 0px;
        --border-block-start-width: 0px;
        --border-inline-end-width: 0px;
        --border-block-end-width: 0px;
        --border-inline-start-width: 0px;
    }

    .elementor-6578 .elementor-element.elementor-element-c73e9bb .elementor-heading-title {
        font-size: 16px;
    }

    .elementor-6578 .elementor-element.elementor-element-41f3f95 .elementor-heading-title {
        font-size: 16px;
    }

    .elementor-6578 .elementor-element.elementor-element-b405386 .elementor-heading-title {
        font-size: 16px;
    }

    .elementor-6578 .elementor-element.elementor-element-4d617d7 .elementor-heading-title {
        font-size: 16px;
    }

    .elementor-6578 .elementor-element.elementor-element-fc5d640 .elementor-heading-title {
        font-size: 16px;
    }
}