.elementor-6597 .elementor-element.elementor-element-31ca7c4 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --align-items: stretch;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
    --z-index: 1000;
}

.elementor-6597 .elementor-element.elementor-element-31ca7c4:not(.elementor-motion-effects-element-type-background),
.elementor-6597 .elementor-element.elementor-element-31ca7c4>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #0d4466;
}

.elementor-6597 .elementor-element.elementor-element-31ca7c4,
.elementor-6597 .elementor-element.elementor-element-31ca7c4::before {
    --border-transition: 0.3s;
}

.elementor-6597 .elementor-element.elementor-element-daac67e {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: space-between;
    --background-transition: 0.3s;
}

.elementor-6597 .elementor-element.elementor-element-e8c04c0 {
    text-align: left;
}

.elementor-6597 .elementor-element.elementor-element-e8c04c0 img {
    width: 50%;
}

.elementor-6597 .elementor-element.elementor-element-e3baa7a {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: flex-end;
    --background-transition: 0.3s;
}

.elementor-6597 .elementor-element.elementor-element-fe7705e .eael-simple-menu-container {
    background-color: #FFFFFF00;
}

.elementor-6597 .elementor-element.elementor-element-fe7705e .eael-simple-menu-container .eael-simple-menu.eael-simple-menu-horizontal {
    background-color: #FFFFFF00;
}

.elementor-6597 .elementor-element.elementor-element-fe7705e .eael-simple-menu li a {
    padding: 10px 18px 10px 18px;
}

.elementor-6597 .elementor-element.elementor-element-fe7705e .eael-simple-menu>li>a,
.eael-simple-menu-container .eael-simple-menu-toggle-text {
    font-family: "Montserrat", Sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-transform: none;
    line-height: 26px;
}

.elementor-6597 .elementor-element.elementor-element-fe7705e .eael-simple-menu li>a {
    color: #FFFFFF;
}

.elementor-6597 .elementor-element.elementor-element-fe7705e .eael-simple-menu li>a>span svg {
    fill: #FFFFFF;
}

.elementor-6597 .elementor-element.elementor-element-fe7705e .eael-simple-menu-toggle-text {
    color: #FFFFFF;
}

.elementor-6597 .elementor-element.elementor-element-fe7705e .eael-simple-menu li a span,
.elementor-6597 .elementor-element.elementor-element-fe7705e .eael-simple-menu li span.eael-simple-menu-indicator {
    font-size: 15px;
}

.elementor-6597 .elementor-element.elementor-element-fe7705e .eael-simple-menu li span.eael-simple-menu-indicator svg,
.elementor-6597 .elementor-element.elementor-element-fe7705e .indicator-svg svg {
    width: 15px;
}

.elementor-6597 .elementor-element.elementor-element-fe7705e .eael-simple-menu li .eael-simple-menu-indicator:before {
    color: #FFFFFF !important;
}

.elementor-6597 .elementor-element.elementor-element-fe7705e .eael-simple-menu li:hover>a {
    background-color: #2f546c;
    border-radius: 4px;
}

.elementor-6597 .elementor-element.elementor-element-fe7705e .eael-simple-menu li .eael-simple-menu-indicator:hover:before {
    color: #f44336;
}

.elementor-6597 .elementor-element.elementor-element-fe7705e .eael-simple-menu li .eael-simple-menu-indicator:hover {
    background-color: #ffffff;
    border-color: #f44336;
}

.elementor-6597 .elementor-element.elementor-element-fe7705e .eael-simple-menu li.current-menu-item>a.eael-item-active {
    background-color: #3A3A3A;
}

.elementor-6597 .elementor-element.elementor-element-fe7705e .eael-simple-menu li.current-menu-ancestor>a.eael-item-active {
    background-color: #3A3A3A;
}

.elementor-6597 .elementor-element.elementor-element-fe7705e .eael-simple-menu li .eael-simple-menu-indicator.eael-simple-menu-indicator-open:before {
    color: #f44336 !important;
}

.elementor-6597 .elementor-element.elementor-element-fe7705e .eael-simple-menu li .eael-simple-menu-indicator.eael-simple-menu-indicator-open {
    background-color: #ffffff !important;
    border-color: #f44336 !important;
}

.elementor-6597 .elementor-element.elementor-element-fe7705e .eael-simple-menu-container .eael-simple-menu-toggle i {
    font-size: 30px;
    color: #ffffff;
}

.elementor-6597 .elementor-element.elementor-element-fe7705e .eael-simple-menu-container .eael-simple-menu-toggle svg {
    width: 30px;
    fill: #ffffff;
}

.elementor-6597 .elementor-element.elementor-element-fe7705e .eael-simple-menu.eael-simple-menu-responsive li>a {
    color: #FFFFFF;
    background-color: #1B1B1B;
}

.elementor-6597 .elementor-element.elementor-element-fe7705e .eael-simple-menu.eael-simple-menu-responsive li>a>span svg {
    fill: #FFFFFF;
}

.elementor-6597 .elementor-element.elementor-element-fe7705e .eael-simple-menu.eael-simple-menu-responsive li:hover>a {
    color: #FFFFFF;
    background-color: #000000;
}

.elementor-6597 .elementor-element.elementor-element-fe7705e .eael-simple-menu.eael-simple-menu-responsive li:hover>a>span svg {
    fill: #FFFFFF;
}

.elementor-6597 .elementor-element.elementor-element-fe7705e .eael-simple-menu.eael-simple-menu-responsive li.current-menu-item>a.eael-item-active {
    color: #FFFFFF;
    background-color: #000000;
}

.elementor-6597 .elementor-element.elementor-element-fe7705e .eael-simple-menu.eael-simple-menu-responsive li.current-menu-item>a.eael-item-active>span svg {
    fill: #FFFFFF;
}

.elementor-6597 .elementor-element.elementor-element-fe7705e .eael-simple-menu li ul {
    background-color: #000000;
    border-style: none;
}

.elementor-6597 .elementor-element.elementor-element-fe7705e .eael-simple-menu.eael-simple-menu-horizontal li ul li a {
    padding-left: 20px;
    padding-right: 20px;
}

.elementor-6597 .elementor-element.elementor-element-fe7705e .eael-simple-menu.eael-simple-menu-horizontal li ul li>a {
    border-bottom: 1px solid #F2F2F200;
}

.elementor-6597 .elementor-element.elementor-element-fe7705e .eael-simple-menu.eael-simple-menu-vertical li ul li>a {
    border-bottom: 1px solid #F2F2F200;
}

.elementor-6597 .elementor-element.elementor-element-fe7705e .eael-simple-menu li ul li>a {
    font-family: "Roboto", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 26px;
}

.elementor-6597 .elementor-element.elementor-element-fe7705e .eael-simple-menu li ul li a span,
.elementor-6597 .elementor-element.elementor-element-fe7705e .eael-simple-menu li ul li span.eael-simple-menu-indicator {
    font-size: 12px;
}

.elementor-6597 .elementor-element.elementor-element-fe7705e .eael-simple-menu li ul li .eael-simple-menu-indicator svg,
.elementor-6597 .elementor-element.elementor-element-fe7705e .eael-simple-menu li ul li a .indicator-svg svg {
    width: 12px;
}

.elementor-6597 .elementor-element.elementor-element-fe7705e .eael-simple-menu li ul li .eael-simple-menu-indicator:before {
    color: #FFFFFF !important;
}

.elementor-6597 .elementor-element.elementor-element-fe7705e .eael-simple-menu li ul li .eael-simple-menu-indicator:hover:before {
    color: #FFFFFF !important;
}

.elementor-6597 .elementor-element.elementor-element-fe7705e .eael-simple-menu li ul li .eael-simple-menu-indicator.eael-simple-menu-indicator-open:before {
    color: #FFFFFF !important;
}

.elementor-6597 .elementor-element.elementor-element-507cd69 .elementor-button {
    font-family: "Montserrat", Sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 20px;
    color: #000000;
    background-color: #ffffff;
    border-style: solid;
    box-shadow: 0px 0px 5px 0px rgba(56, 56, 56, 0.5);
    border-width: 1px 1px 1px 1px;
    border-color: #0d4466;
    border-radius: 8px;
}

.elementor-6597 .elementor-element.elementor-element-507cd69 .elementor-button:hover,
.elementor-6597 .elementor-element.elementor-element-507cd69 .elementor-button:focus {
    color: #FFFFFF;
    background-color: #2f546c;
}

.elementor-6597 .elementor-element.elementor-element-507cd69 .elementor-button:hover svg,
.elementor-6597 .elementor-element.elementor-element-507cd69 .elementor-button:focus svg {
    fill: #FFFFFF;
}

@media(min-width:768px) {
    .elementor-6597 .elementor-element.elementor-element-daac67e {
        --width: 100%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-6597 .elementor-element.elementor-element-daac67e {
        --width: 100%;
    }
}

@media(max-width:1024px) {
    .elementor-6597 .elementor-element.elementor-element-31ca7c4 {
        --justify-content: space-between;
        --align-items: center;
        --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
        --padding-block-start: 10px;
        --padding-block-end: 10px;
        --padding-inline-start: 10px;
        --padding-inline-end: 10px;
    }

    .elementor-6597 .elementor-element.elementor-element-e8c04c0 img {
        width: 63%;
    }
}

@media(max-width:767px) {
    .elementor-6597 .elementor-element.elementor-element-daac67e {
        --width: 100%;
        --flex-direction: row;
        --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
        --container-widget-height: 100%;
        --container-widget-flex-grow: 1;
        --container-widget-align-self: stretch;
        --justify-content: space-between;
        --align-items: flex-start;
        --flex-wrap: nowrap;
    }

    .elementor-6597 .elementor-element.elementor-element-e8c04c0 img {
        width: 83%;
    }

    .elementor-6597 .elementor-element.elementor-element-fe7705e .eael-simple-menu-container .eael-simple-menu-toggle {
        padding: 0px 0px 0px 0px;
    }

    .elementor-6597 .elementor-element.elementor-element-507cd69 .elementor-button {
        font-size: 13px;
        padding: 13px 7px 13px 7px;
    }
}